
<div class="container-fluid" style="padding-top: 60px;"></div>
<h1
  mat-dialog-title
  class="d-flex justify-content-center"
  style="color: #40BFFF; font-family: Poppins"
>
  Detalle Pedido
</h1>
  <div class="mb-3 row">
    <label for="fecha" class="col-md-2 col-form-label">Cliente:</label>
      <div class="col-sm-5">
        <div class="p" id="fecha">Luis Fernandez</div>
      </div>

  </div>
  <div class="mb-3 row">
    <label for="fechaEntrega" class="col-sm-2 col-form-label">Fecha:</label>
    <div class="col-sm-4">
      <div class="p" id="fechaEntrega">15-02-2022</div>
    </div>
    <label for="estado" class="col-sm-2 col-form-label">Estado:</label>
    <div class="col-sm-4">
      <div class="p" id="estado">Pendiente</div>
    </div>
  </div>
  <div class="mb-3 row">
    <table class="table table-borderless ">
      <thead>
      <tr>
        <th scope="col">PRODUCTO</th>
        <th scope="col">VALOR UNITARIO</th>
        <th scope="col">CANTIDAD</th>
        <th scope="col">TOTAL</th>
      </tr>
      </thead>
      <tbody>
          <tr >
            <td >Salchichas</td>
            <td >1,6</td>
            <td >80</td>
            <td >85</td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="mb-3 row text-align-end">
          <label for="totalFactura">Total</label>
          <div class="p" id="totalFactura">450</div>
  </div>



