<app-navbaradmingeneral></app-navbaradmingeneral>
<div class="container-fluid" >
  <div class="row">
    <div
      class="col-3"
      style="background: #f6f7f8;
    margin:10px 25px 10px 25px">

    </div>
    <div class="col-8 pb-5 mb-5">
      <div style="background-color: #4180CB" class="col-md-3">
        <span>Pedidos sin stock</span>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container-fluid mt-5" style="background: #BCDDFE">
  <app-footer></app-footer>
</div>
