<app-navbar-admin [nombreUsuario]="nombreAdmin"></app-navbar-admin>
<div class="container-fluid" >
  <div class="row">
    <div
      class="col-3"
      style="background: #f6f7f8;
    margin:10px 25px 10px 25px">
      <app-sidebar-admin [tituloSideBar]="tituloAdmin" [categories]="categories"></app-sidebar-admin>
    </div>
    <div class="col-8 pb-5 mb-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container-fluid mt-5" style="background: #BCDDFE">
  <app-footer></app-footer>
</div>
