<nav class="navbar navbar-expand-lg navbar-light" style="background: white">
  <div class="container-fluid">
    <div class="col-6">
      <a class="navbar-brand w-60">
        <img src="../assets/img/logopolimarket.png" class="img-fluid w-50" (click)="volverHome()">
      </a>
    </div>
    <div class="col p-0">
      <button class="navbar-toggler float-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon float-right"></span>
      </button>
      <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 float-right">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="verPerfil()" style="font-weight: bold;"  >
              <span class="bi-person" style="font-size: 25px"></span>
              Perfil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="verCarrito()">
              <span class="bi bi-cart" style="font-size: 25px"></span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" (click)="verResumenMensual()" style="font-weight: bold">
              <span style="font-size: 25px"></span>
              Resumen Mensual
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" (click)="cerrarSesion()" >
              <span style="font-size: 25px" class="bi-box-arrow-right"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</nav>
