<div class="container-fluid py-3 col-md-12" style="background: #F6F7F8">
  <form>
    <div class="d-flex flex-row">
      <div class="d-flex flex-row">
        <label for="busquedaCuenta" style="font-family: Poppins;font-size: 16px;padding-top: 15px;margin-right: 10px">Buscar</label>
        <input class="form-control" type="text" placeholder="Ej.: Gelatina" aria-label="default input example" id="busquedaCuenta">
        <button class="btn btn-lg btn-primary rounded-0" type="button" (click)="botonBuscar()" style="font-family: Poppins;font-size: 20px;background: #40BFFF; border: 0;">Buscar</button>
      </div>
      <div class="d-flex flex-row" style="margin-left: 20px">
        <label for="busquedaCuenta" style="font-family: Poppins;font-size: 16px;padding-top: 15px;margin-right: 10px">Sucursal</label>
        <select class="btn btn-outline-light browser-default custom-select col-md-12" (change)="selectChangeHandler($event)" formControlName="sucursal">
          <option *ngFor="let sucursal of sucursales" value="{{sucursal.idSucursal}}">{{sucursal.direccion}}</option>
        </select>
      </div>
    </div>
  </form>
</div>
