<div class="container-fluid py-3" style="background: #F6F7F8">
  <div class="row">
    <div class="col-10">
      <form>
        <div class="d-grid d-md-flex justify-content-md-start">
          <label for="busquedaCuenta"
                 style="font-family: Poppins;font-size: 16px;padding-top: 15px;margin-right: 10px">Buscar</label>
          <input class="form-control w-60"
                 type="text"
                 placeholder="Ej.: Gelatina"
                 aria-label="default input example"
                 id="busquedaCuenta"
          >
          <button
            class="btn btn-lg btn-primary rounded-0"
            type="button"
            (click)="botonBuscar()"
            style="font-family: Poppins;font-size: 20px;background: #40BFFF; border: 0;"
          >
            Buscar
          </button>
        </div>

      </form>
    </div>
    <div class="col align-self-end">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button
          class="btn btn-lg btn-primary rounded-0"
          type="button"
          style="background: #40BFFF; border: 0;font-family: Poppins;font-size: 20px"
          (click)="botonNuevo()"
        >Nuevo</button>
      </div>
    </div>
  </div>
</div>

