<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div *ngIf="compras.length != 0" >
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Precio Unitario</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Valor Total</th>
        <th scope="col">Eliminar Compra</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let compra of compras">
        <td>
          <div class="item-carrito">
            <img src="{{prefix + compra.producto.codigo}}">
            <span>{{compra.producto.nombre}}</span>
          </div>
        </td>
        <td>${{compra.producto.precio}}</td>
        <td>
          <input type="number" min="1" max="{{compra.stock}}" value="{{compra.cantidad}}" (change)="actualizarTotales()" [(ngModel)]="compra.cantidad">
        </td>
        <td>${{compra.producto.precio * compra.cantidad}}</td>
        <td (click)="eliminarCompra(compra)"><mat-icon class="delete-icon">delete</mat-icon></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 d-flex justify-content-end container">
    <div class="col-md-4 d-flex flex-column" style="margin: 10px">
      <table class="col-md-12" style="margin-bottom: 10px">
        <tr>
          <td>Subtotal: </td>
          <td>${{subtotal}}</td>
        </tr>
        <tr>
          <td>IVA: </td>
          <td>{{iva}}</td>
        </tr>
        <tr>
          <td>Total: </td>
          <td>${{subtotal * (1 + iva)}}</td>
        </tr>
      </table>
      <button class="btn btn-primary btn-lg col-md-12 text-white" (click)="verificarTarjetas()">Comprar</button>
    </div>
  </div>
</div>
