
  <div class="footer pt-4">
      <div class="row">
        <div class="col-5 pl-4 pr-5 mr-5">
          <p class="pr-5" style="font-family:Poppins; font-size: 12px">Un sitio web para realizar tus compras desde la comodidad de tu hogar </p>
          <img src="../../../assets/img/logopolimarket.png" class="img-fluid mx-auto d-block" width="240px" height="50px" >
        </div>
        <div class="col mx-4 ml-5 about-company">
          <h5 style="font-size: 18px; font-family: Poppins; font-weight: bold">Síguenos</h5>
          <p class="pr-5" style="font-size: 12px;font-family: Poppins">En Twitter, Facebook, Instagram o Tiktok </p>
          <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
        </div>
        <div class="col mx-4 ml-5 location">
          <h5 class="mt-lg-0 mt-sm-4" style="font-size: 18px;font-weight: bold; font-family: Poppins">Contáctenos</h5>
          <p style="font-family: Poppins;font-size: 12px">E-Comm , 4578 Marmora Road, Glasgow D04 89GR</p>
        </div>
      </div>
      <div class="row">
        <div class="col ml-5 pl-5 about-company">
          <h5 style="font-size: 18px;font-family: Poppins;font-weight: bold">Información</h5>
          <p class="pr-5" style="font-family: Poppins;font-size: 12px">Conoce sobre el funcionamiento y jerarquia de procesos </p>
          <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
        </div>
        <div class="col ml-5 pl-5 about-company">
          <h5 style="font-size: 18px;font-family: Poppins;font-weight: bold">Servicios</h5>
          <p class="pr-5" style="font-family: Poppins;font-size: 12px">Conoce lo que te ofrecemos como servicio</p>
        </div>
        <div class="col ml-5 pl-5 about-company">
          <h5 style="font-size: 18px;font-family: Poppins;font-weight: bold">Sobre Nosotros</h5>
          <p class="pr-5" style="font-family: Poppins;font-size: 12px">Conoce nuestramisión, visión y nuestros valores empresariales</p>
          <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
        </div>
        <div class="col ml-5 pl-5 about-company">
          <h5 style="font-size: 18px;font-family: Poppins;font-weight: bold">Asociaciones</h5>
          <p class="pr-5" style="font-family: Poppins;font-size: 12px">Conoce nuestra amplia gama de mercados asociados </p>
          <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p>
        </div>
      </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
    </div>
  </div>


