.sign-in-background {
  background-image: url(https://library.kissclipart.com/20181218/vw/kissclipart-shop-shelf-cartoon-clipart-royalty-free-stock-phot-205740c29716d882.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 723px;
}

.form-sign-in {
  background-color: rgba(255, 255, 255, 0.6);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50px;
  height: 550px;
  width: 60%;
  padding: 25px;
}

.imagen-sign-in {
  background-image: url("../../../assets/img/imgSignIn.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 350px;
}

.title-sign-in {
  padding: 5px 40px;
  font-size: 24px;
  text-align: center;
  color: white
}
